- model = controller.resource.sm_name.to_s
%tr{'data-id' => item.get_id, 'data-type' => model}
  %td
    %input{:type => 'checkbox'}
  - controller.resource.ref_columns.each do |col|
    - if col == :user_name
      %td{'data-column-name' => col}
        - if item.user&.avatar
          = image_tag item.user.avatar.url, :class => 'img-circle-avatar-sm'
        = link_to item.ref_column_value(col), user_path(item.user)
    - else
      %td{'data-column-name' => col}= item.ref_column_value col
  %td.mx-ref-buttons
    = render partial:  'item_buttons', :locals => {:item => item}