- content_for :map_view, true
- content_for :page_title, @item.name
#map{'data-tracks' => @item.track_items.map{|x| { :color => x.color, :name => x.name, :url => track_gpx_path(@item, :id => x.id) } }.to_json.html_safe }
#legend
  .show-legend{:title => t('show_legend')}
    %i.fa.fa-info-circle
  .info-header
    %h4= @item.name
    .hide-legend{:title => t('hide_legend')}
      %i.fa.fa-times
  .legend_text= @item.descr.html_safe
  .legend_items
    - @item.track_items.each do |item|
      .legend_row
        .legend_item.color
          %div{:style => "background-color: #{item.color}"}
        .legend_item
          = item.name