= link_to user_google_oauth2_omniauth_authorize_path, :class => 'btn btn-lg btn-danger btn-sign-in' do
  %i.fa.fa-google-plus-square
    Sign in with Google
= link_to user_yandex_omniauth_authorize_path, :class => 'btn btn-lg btn-yandex btn-sign-in' do
  %i.fa.fa-sign-in
    Sign in with Yandex