- if user_signed_in? && current_user.admin?
  %a.mui-btn.mui-btn--fab.mui-btn--danger{'data-action' => 'remove', 'data-type' => name, :disabled => 'disabled', :title => t('lib_support.refs.remove')}
    %i.fa.fa-times