= link_to user_tracks_path(item), :class => 'btn btn-xs btn-default btn-icon' do
  %i.fa.fa-map-marker{'title' => Track.model_name.human(:count => 2)}
  %span= Track.model_name.human(:count => 2)
- if item.permit_modify?(controller.permission_params)
  = render partial: 'refs/item_buttons', :locals => {:item => item}