- @item.class.form_columns.each do |col|
  .form-group
    = form.label col, :class => 'control-label col-md-2'
    .col-md-10
      = form.text_field col, :class => 'form-control', :autofocus => col == :name
      %span.help-block
