/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ubuntu_font
 *= require lib_support
 *= require font-awesome
 *= require jquery.simplecolorpicker
 *= require jquery.simplecolorpicker-fontawesome
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';

body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: inherit;
  margin-bottom: 0;

  > .container {
    margin: 0 30px;
    width: inherit;
  }
}

.navbar-toggle .icon-bar {
  background-color: black;
}

.page-header {
  margin: 20px 0 20px;
}

.btn-icon {
  > .fa {
    display: none;
    font-size: 18px;
  }
}

.navbar-header .navbar-toggle {
  background-color: $focus_color;
  border-color: $focus_color;
}

.start-page {
  .nav > li > a {
    &:hover, &:focus {
      text-decoration: none;
      background: none;
      font-weight: bold;
    }
  }

  .nav .open > a {
    background: none;

    &:hover, &:focus {
      background: none
    }
  }
}

.mx-ref-buttons .btn {
  margin: 2px;
  min-width: 30px;
}

.btn-yandex {
  background-color: $yandex_color;
  border-color: $yandex_color;
  color: $yandex_text_color;
}

.btn-sign-in {
  margin: 0 0.5em 0.5em 0;
}

.lib-support-list {
  td, th { word-break: break-all }
}

@media (max-width: $screen-sm-max) {
  .btn-sign-in { font-size: 14px }

  .btn-icon {
    > span {
      display: none
    }

    > .fa {
      display: block;
    }
  }

  #overlay { display: none }

  .navbar-fixed-top, .navbar-fixed-bottom {
     > .container {
       margin: auto;
     }
  }
}
