/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ubuntu_font
 *= require lib_support
 *= require font-awesome
 *= require jquery.simplecolorpicker
 *= require jquery.simplecolorpicker-fontawesome
 *= require_tree .
 *= require_self
 */

@import 'mui';
@import 'variables';

body {
    font-family: 'Ubuntu', sans-serif;
}

@mixin simple-menu {
  #header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);

    .mui-appbar {
      background-color: $main_color;
    }
  }
}

html, body {
  height: 100%;

  &.no-overlay {
    background-color: $back_color;

    @include simple-menu;
  }
}

html, body, input, textarea, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.breadcrumbs {
  display: inline-block;
  margin-left: 0.5em;

  a, span {
    font-size: 14px;
    color: $side_drawer_toggle_color;
  }

  a {
    cursor: pointer;

    &:hover, &:active {
      text-decoration: none;
      border-bottom: 1px dotted $side_drawer_toggle_color;
      padding-bottom: 1px;
    }
  }

  .fa {
    font-weight: bold;
    margin: 0.3em;
  }
}

#header {
  top: 0;
  right: 0;
  left: 0;
  transition: left 0.2s;
  position: fixed;
  z-index: 9999;

  .mui-appbar {
    background-color: transparent;
  }

  .js-show-sidedrawer, .js-hide-sidedrawer {
    display: inline-block;
    @include simple-button;
  }

}

#sidedrawer {
  a {
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  position: fixed;
  top: 0;
  bottom: 0;
  width: $panel_width;
  left: -$panel_width;
  overflow: auto;
  z-index: 2;
  background-color: $side_drawer_toggle_color;
  transition: transform 0.2s;

  &.active {
    transform: translate($panel_width);
  }

  #sidedrawer-brand {
    padding-left: 20px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
  }

  ul {
    list-style: none;
  }

  & > ul {
    padding-left: 0;
  }

  & > ul > li:first-child {
    padding-top: 15px;
  }

  strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;

    &:hover {
      background-color: #E0E0E0;
    }

    & + ul > li {
      padding: 6px 0;
    }
  }
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0;
  transition: margin-left 0.2s;
}

@media (min-width: $mobile_width) {
  #header { left: $panel_width }
  #sidedrawer { transform: translate($panel_width) }
  #content-wrapper { margin-left: $panel_width }

  body.hide-sidedrawer {
    #header { left: 0 }
    #sidedrawer { transform: translate(0px) }
    #content-wrapper { margin-left: 0 }
  }
}

.mui--appbar-height {
  line-height: 64px;
  height: 64px;
}

@media (min-width: 480px) {
  .mui--appbar-line-height {
    line-height: 56px;
  }

  .mui--appbar-min-height, .mui-appbar {
    min-height: 56px;
  }
}

@media (max-width: 480px) {
  .mui-main-container[data-instance="true"] {
    padding: 0;
    margin: 0;

    .mui-panel {
      padding: 0;
      box-shadow: none;
    }
  }

  html, body {
    background-color: $side_drawer_toggle_color !important;
  }
}

.btn-yandex {
  background-color: $yandex_color;

  &:focus, &:hover, &:active {
    background-color: $yandex_color;
  }
}

.favicon > img {
  height: 32px;
  margin-right: 5px;
}

.mui-textfield > input, .mui-textfield > textarea {
  &.mx-invalid-value {
    border-color: $error_color;
    + .mx-error-help-block {
      opacity: 0.38;
      color: $error_color
    }
  }
}

.btn-simple {
  @include simple-button;
}

.mui-panel {
  .btn-simple {
    color: $main_color;
  }
}

.ref-table-cell {
  padding: 0;
  border: 1px solid transparent;
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    max-width: 150px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;
    top: 0;
    left: 0;
    transition: opacity .5s;
    opacity: 0;
  }

  > .btn-editor {
    position: absolute;
    z-index: 30;
    top: 5px;
    right: 5px;
    display: none;
  }

  &:hover {
    > .btn-editor { display: block }

    .overlay { opacity: 1 }
  }
}

.popup-menu {
  top: 0;
  z-index: 9999;
  right: inherit;
  opacity: 0;
  transition: opacity .5s linear;
  visibility: hidden;
  width: 100px;

  &.mui--is-open {
    opacity: 1;
    visibility: visible;
  }

  .fa {
    width: 1.5em;
    text-align: left;
  }

  > li > a {
    line-height: 2em;

    > i {
      width: 1em;
    }
  }
}

.mui-table {
  margin-bottom: 0;
}

.ref-next-page {
  height: 20px;
  width: 100%;
}

.ref-action-buttons {
  position: fixed;
  bottom: 0.5em;
  right: 2em;

  .mui-btn + .mui-btn {
    margin-left: 0;
  }

  > button, a {
    display: inline-block;
    opacity: 0;
    transition: all linear 0.2s;
    visibility: hidden;
    width: 0;

    .fa { display: none }

    &.active {
      opacity: 1;
      visibility: visible;
      width: 55px;

      .fa { display: inline-block }
    }
  }
}

.modal {
  display: none;
  width: 400px;
  height: 300px;
  margin: 100px auto;
  background-color: $side_drawer_toggle_color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  padding: 20px;

  legend {
    font-size: 19px;
  }

  form {
    position: relative;
    height: 100%;

    textarea {
      font-size: 14px;
      color: darkgray;
    }

    .modal-buttons {
      position: absolute;
      bottom: 0;
      right: 0;

      .mui-btn {
        padding: 0 3px;
        position: relative;
        float: right;
        margin: 0;

        &:focus, &:active, &:hover {
          color: $focus_color_btn;
        }
      }
    }
  }
}

@media (max-width: $mobile_width) {
  html, body {
    background-color: $back_color;

    @include simple-menu;
  }

  .breadcrumbs {
    > a, i { display: none }
  }

  .mui-btn + .mui-btn { margin-left: 0 }

  .lib-support-list {
    th[mx-selector-th] {
      display: none;
    }

    > thead > tr {
      display: none;
    }

    > tbody > tr > td:first-child {
      display: none;
    }
  }
}