/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ubuntu_font
 *= require lib_support
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

$focus_color: #f9f9f9;

body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: inherit;
  margin-bottom: 0;

  > .container {
    margin: 0 30px;
    width: inherit;
  }
}

.navbar-toggle .icon-bar {
  background-color: black;
}

.page-header {
  margin: 20px 0 20px;
}

.btn-icon {
  > .fa {
    display: none;
    font-size: 18px;
  }
}

.navbar-header .navbar-toggle {
  background-color: $focus_color;
  border-color: $focus_color;
}

.nav > li > a {
  &:hover, &:focus {
    text-decoration: none;
    background-color: $focus_color;
  }
}

.lib-support-list td {
  white-space: nowrap;
}

@media (max-width: $screen-xs-max) {
  .btn-icon {
    > span {
      display: none
    }

    > .fa {
      display: block;
    }
  }

  #overlay { display: none }

  .navbar-fixed-top, .navbar-fixed-bottom {
     > .container {
       margin: auto;
     }
  }
}
