#overlay {
  position: absolute;
  width: 100%;
  height: calc(100% - 52px);
  left: 0;
  overflow: hidden;

  > video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    opacity: 0.7;
    filter: sepia(0.5);
    -webkit-filter: sepia(0.5);
  }

  .info-block {
    position: absolute;
  }
}
