@import 'bootstrap/variables';

@mixin avatar($size) {
  border-radius: 50%;
  height: $size;
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.email-field {
  padding-top: 0.4em;
}

.img-circle-avatar { @include avatar(48px) }
.img-circle-avatar-sm  { @include avatar(32px) }


@media (max-width: $screen-sm-max) {
  .img-circle-avatar-sm { display: none }
}