@import 'variables';

@mixin avatar($size) {
  border-radius: 50%;
  height: $size;
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.email-field {
  padding-top: 0.4em;
}

.img-circle-avatar { @include avatar(32px) }

.avatar-image {
  position: relative;
  margin-bottom: 1em;

  > img {
    width: 100%;
    height: 100%;
    position: relative;
    max-height: 200px;
    max-width: 200px;
  }
}

.btn-sign-in {
  .fa {
    position: relative;
    padding-left: 10px;
  }
  &:before {
    position: absolute;
    left: -9px;
    top: 0px;
  }
}

@media (max-width: $mobile_width) {
  .lib-support-list[data-type="user"] {
    td, th {
      &[data-column-name="cc"] {
        display: none;
      }
    }

    td[data-column-name="avatar"] {
      border-bottom: none;
      width: 4.5em;
    }
  }
}