.row
  .col-md-12
    - if controller.ref_action?(:new)
      = link_to 'new', { :controller => controller_name, :action => 'new' }, :class => 'btn btn-sm btn-success'
    - if controller.ref_action?(:remove)
      %button.btn.btn-sm.btn-danger{"data-action" => "remove", "data-type" => name, :disabled => "disabled"}= 'remove'
