- model = controller.resource.sm_name.to_s
%tr{"data-id" => "#{item.id}", "data-type" => model}
  %td
    %input{:type => "checkbox"}/
  - controller.resource.ref_columns.each do |col|
    %td= item.ref_column_value col
  %td.mx-ref-buttons
    - if item.permit_modify?(controller.permission_params)
      = link_to 'change', item, :class => 'btn btn-sm btn-default' if controller.ref_action?(:show)
      = link_to 'remove', '#', :class => 'btn btn-sm btn-danger', :'data-type' => model, :'data-action' => 'remove_single', :'data-id' => item.id if |
        controller.ref_action?(:remove)                                                                                                              |
