.mui-col-md-12
  - if permit_modify
    = form.submit t('lib_support.refs.apply'), :class => 'mui-btn mui-btn--raised mui-btn--primary'
  = link_to t('lib_support.refs.cancel'), { :controller => @item.class.to_s.tableize, :action => 'index' }, :class => 'mui-btn mui-btn--raised mx-btn-right'
